# House Prices Data Preprocessing

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sns

#Libraries additionally added
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import ast

#Regular Expressions
import re

# Study data files
hp_train_data_path = "../House_Prices_Data/house_prices_train.csv"
hp_test_data_path = "../House_Prices_Data/house_prices_test.csv"


# Read the House Prices Train & Test data 
hp_train_df = pd.read_csv(hp_train_data_path)
hp_test_df = pd.read_csv(hp_test_data_path)

In [2]:
#Display the House Prices Train DataFrame
hp_train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
#Display the House Prices Test  DataFrame
hp_test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

## Data Preprocessing for Train Data

In [4]:
# Display basic information about the training dataset
print("Training Dataset Info:")
print(hp_train_df.info())

Training Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB
None

In [5]:
# Display basic statistics for numerical features in the training dataset
#print("\nTraining Dataset Statistics:")
#print(hp_train_df.describe())

In [6]:
# Display columns with missing values and their counts
missing_values = hp_train_df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("Columns with Missing Values:")
print(missing_columns)

Columns with Missing Values:
LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

## Handle Null Values hp_train_df

In [7]:
# Handle missing values
# Dropping columns with a high percentage of missing values  >1000
## Only 'FireplaceQu' have 690

# columns = ['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature']
# hp_train_df.drop(columns=columns, inplace=True)

In [8]:
# Reveiw the columns after dropping 5 columns wiht high percentages of missing value
missing_values = hp_train_df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("Columns with Missing Values:")
print(missing_columns)

Columns with Missing Values:
LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

## Impute Missing Values hp_train_df

    
    ## LotFrontage : Since the area of each street connected to the house property most likely have a similar area to other houses in its neighborhood , we can fill in missing values by the median LotFrontage of the neighborhood.

In [9]:
# Group by neighborhood and fill in missing value by the median LotFrontage of all the neighborhood
hp_train_df["LotFrontage"] = hp_train_df.groupby("Neighborhood")["LotFrontage"].transform(
    lambda x: x.fillna(x.median()))

# Alley : data description says NA means "no alley access"
hp_train_df["Alley"] = hp_train_df["Alley"].fillna("None")

# MasVnrArea and MasVnrType : NA most likely means no masonry veneer for these houses. 
# We can fill 0 for the area and None for the type.
hp_train_df["MasVnrType"] = hp_train_df["MasVnrType"].fillna("None")
hp_train_df["MasVnrArea"] = hp_train_df["MasVnrArea"].fillna(0)

# BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, and BsmtFinType2:
# For all these categorical basement-related features, NaN means that there is no basement.
for col in ('BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2'):
    hp_train_df[col] = hp_train_df[col].fillna('None')

# BsmtFinSF1, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, BsmtFullBath, and BsmtHalfBath: missing values are likely zero for having no basement
for col in ('BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath'):
    hp_train_df[col] = hp_train_df[col].fillna(0)

# Electrical : It has one NA value. Since this feature has mostly 'SBrkr', we can set that for the missing value.
hp_train_df['Electrical'] = hp_train_df['Electrical'].fillna(hp_train_df['Electrical'].mode()[0])

# FireplaceQu : data description says NA means "no fireplace"
hp_train_df["FireplaceQu"] = hp_train_df["FireplaceQu"].fillna("None")

# GarageType, GarageFinish, GarageQual, and GarageCond: Replacing missing data with None
for col in ('GarageType', 'GarageFinish', 'GarageQual', 'GarageCond'):
    hp_train_df[col] = hp_train_df[col].fillna('None')

# GarageYrBlt, GarageArea, and GarageCars: Replacing missing data with 0 (Since No garage = no cars in such garage.)
for col in ('GarageYrBlt', 'GarageArea', 'GarageCars'):
    hp_train_df[col] = hp_train_df[col].fillna(0)

# PoolQC: data description says NA means "No Pool".
# That makes sense, given the huge ratio of missing value (+99%) and the majority of houses have no Pool at all in general.
hp_train_df["PoolQC"] = hp_train_df["PoolQC"].fillna("None")

# Fence: data description says NA means "no fence"
hp_train_df["Fence"] = hp_train_df["Fence"].fillna("None")

# MiscFeature: data description says NA means "no misc feature"
hp_train_df["MiscFeature"] = hp_train_df["MiscFeature"].fillna("None")

## If other columns shows missing values then apply

In [10]:
# # Impute missing values in numerical columns with the mean
# hp_train_df.fillna(hp_train_df.mean(), inplace=True)

# # Impute missing values in categorical columns with the mode
# hp_train_df.fillna(hp_train_df.mode().iloc[0], inplace=True)

# Review hp_train_df for missing values

In [11]:
# Reveiw the columns after:
# dropping columns wiht high percentages of missing value
# Fill null values with imputation strategy

missing_values = hp_train_df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("Columns with Missing Values:")
print(missing_columns)

Columns with Missing Values:
Series([], dtype: int64)

## Check duplicates value for hp_train_df

In [12]:
# Check the number of unique values in each column
hp_train_df.nunique()

Id               1460
MSSubClass         15
MSZoning            5
LotFrontage       115
LotArea          1073
                 ...
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
SalePrice         663
Length: 81, dtype: int64

In [13]:
# Check for duplicated values in the 'Id' column
subset_columns = ['Id']
duplicate_rows_subset = hp_train_df[hp_train_df.duplicated(subset=subset_columns)]
if duplicate_rows_subset.empty:
    print("No duplicate rows based on 'Id' column.")
else:
    print("Duplicate rows based on 'Id' column:")
    print(duplicate_rows_subset)

No duplicate rows based on 'Id' column.

## Convert necessary columns to appropriate data types

In [14]:
# Convert 'LotFrontage' to int
hp_train_df['LotFrontage'] = hp_train_df['LotFrontage'].astype(int)

In [15]:
# Convert necessary columns to appropriate data types
hp_train_df['MSSubClass'] = hp_train_df['MSSubClass'].astype('category')
hp_train_df['MSZoning'] = hp_train_df['MSZoning'].astype('category')
hp_train_df['Street'] = hp_train_df['Street'].astype('category')
hp_train_df['LotShape'] = hp_train_df['LotShape'].astype('category')
hp_train_df['LandContour'] = hp_train_df['LandContour'].astype('category')

## Format Columns through Binning 

## Handle each necessary features using binning that have high category counts

In [16]:
hp_train_df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [17]:
for column in hp_train_df.columns:
    unique_values = hp_train_df[column].unique()
    print(f" Unique values {column} count: {len(unique_values)}\n")

 Unique values Id count: 1460

 Unique values MSSubClass count: 15

 Unique values MSZoning count: 5

 Unique values LotFrontage count: 110

 Unique values LotArea count: 1073

 Unique values Street count: 2

 Unique values Alley count: 3

 Unique values LotShape count: 4

 Unique values LandContour count: 4

 Unique values Utilities count: 2

 Unique values LotConfig count: 5

 Unique values LandSlope count: 3

 Unique values Neighborhood count: 25

 Unique values Condition1 count: 9

 Unique values Condition2 count: 8

 Unique values BldgType count: 5

 Unique values HouseStyle count: 8

 Unique values OverallQual count: 10

 Unique values OverallCond count: 9

 Unique values YearBuilt count: 112

 Unique values YearRemodAdd count: 61

 Unique values RoofStyle count: 6

 Unique values RoofMatl count: 8

 Unique values Exterior1st count: 15

 Unique values Exterior2nd count: 16

 Unique values MasVnrType count: 4

 Unique values MasVnrArea count: 327

 Unique values ExterQual count: 4

 Unique values ExterCond count: 5

 Unique values Foundation count: 6

 Unique values BsmtQual count: 5

 Unique values BsmtCond count: 5

 Unique values BsmtExposure count: 5

 Unique values BsmtFinType1 count: 7

 Unique values BsmtFinSF1 count: 637

 Unique values BsmtFinType2 count: 7

 Unique values BsmtFinSF2 count: 144

 Unique values BsmtUnfSF count: 780

 Unique values TotalBsmtSF count: 721

 Unique values Heating count: 6

 Unique values HeatingQC count: 5

 Unique values CentralAir count: 2

 Unique values Electrical count: 5

 Unique values 1stFlrSF count: 753

 Unique values 2ndFlrSF count: 417

 Unique values LowQualFinSF count: 24

 Unique values GrLivArea count: 861

 Unique values BsmtFullBath count: 4

 Unique values BsmtHalfBath count: 3

 Unique values FullBath count: 4

 Unique values HalfBath count: 3

 Unique values BedroomAbvGr count: 8

 Unique values KitchenAbvGr count: 4

 Unique values KitchenQual count: 4

 Unique values TotRmsAbvGrd count: 12

 Unique values Functional count: 7

 Unique values Fireplaces count: 4

 Unique values FireplaceQu count: 6

 Unique values GarageType count: 7

 Unique values GarageYrBlt count: 98

 Unique values GarageFinish count: 4

 Unique values GarageCars count: 5

 Unique values GarageArea count: 441

 Unique values GarageQual count: 6

 Unique values GarageCond count: 6

 Unique values PavedDrive count: 3

 Unique values WoodDeckSF count: 274

 Unique values OpenPorchSF count: 202

 Unique values EnclosedPorch count: 120

 Unique values 3SsnPorch count: 20

 Unique values ScreenPorch count: 76

 Unique values PoolArea count: 8

 Unique values PoolQC count: 4

 Unique values Fence count: 5

 Unique values MiscFeature count: 5

 Unique values MiscVal count: 21

 Unique values MoSold count: 12

 Unique values YrSold count: 5

 Unique values SaleType count: 9

 Unique values SaleCondition count: 6

 Unique values SalePrice count: 663

## Bin MSSubClass

In [18]:
# # Look at MSSubClass value counts for binning
# hp_train_df['MSSubClass'].value_counts()

In [19]:
# # Choose a cutoff value and create a list of MSSubClass to be replaced
# # use the variable name `MSSubClass_to_replace`
# cutoff_value = 90

# # Get the counts of each MSSubClass
# MSSubClass_counts = hp_train_df['MSSubClass'].value_counts()

# # Identify MSSubClass values to be replaced
# MSSubClass_to_replace = list(MSSubClass_counts[MSSubClass_counts < cutoff_value].index)

# # Replace in the DataFrame
# for subclass in MSSubClass_to_replace:
#     hp_train_df['MSSubClass'] = hp_train_df['MSSubClass'].replace(subclass, 'Other')

# # Check to make sure binning was successful
# print(hp_train_df['MSSubClass'].value_counts())

 ## Bin LotFrontage

In [20]:
# Look at LotFrontage  value counts for binning
hp_train_df['LotFrontage'].value_counts()

60     152
80     112
70      94
65      82
73      78
      ...
137      1
141      1
38       1
140      1
46       1
Name: LotFrontage, Length: 110, dtype: int64

In [21]:
# Choose a cutoff value and create a list of LotFrontage values to be replaced
# use the variable name `LotFrontage_to_replace`
cutoff_value = 60

# Get the counts of each LotFrontage value
LotFrontage_counts = hp_train_df['LotFrontage'].value_counts()

# Identify LotFrontage values to be replaced
LotFrontage_to_replace = list(LotFrontage_counts[LotFrontage_counts < cutoff_value].index)

# Replace in the DataFrame
for frontage_value in LotFrontage_to_replace:
    hp_train_df['LotFrontage'] = hp_train_df['LotFrontage'].replace(frontage_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['LotFrontage'].value_counts())

Other    942
60       152
80       112
70        94
65        82
73        78
Name: LotFrontage, dtype: int64

## Bin Neighborhood

In [22]:
# # Look at LotShape value counts for binning
hp_train_df['Neighborhood'].value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

In [23]:
# Choose a cutoff value for Neighborhood
cutoff_value_neighborhood = 100 

# Get the counts of each Neighborhood value
neighborhood_counts = hp_train_df['Neighborhood'].value_counts()

# Identify Neighborhood values to be replaced
neighborhood_to_replace = list(neighborhood_counts[neighborhood_counts < cutoff_value_neighborhood].index)

# Replace in the DataFrame
for neighborhood_value in neighborhood_to_replace:
    hp_train_df['Neighborhood'] = hp_train_df['Neighborhood'].replace(neighborhood_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['Neighborhood'].value_counts())

Other      872
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Name: Neighborhood, dtype: int64

## Bin Condition1

In [24]:
# Look at Condition1 value counts for binning
hp_train_df['Condition1'].value_counts()

Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: Condition1, dtype: int64

In [25]:
# Choose a cutoff value for Condition1
cutoff_value_condition1 = 1000 

# Get the counts of each Condition1 value
condition1_counts = hp_train_df['Condition1'].value_counts()

# Identify Condition1 values to be replaced
condition1_to_replace = list(condition1_counts[condition1_counts < cutoff_value_condition1].index)

# Replace in the DataFrame
for condition1_value in condition1_to_replace:
    hp_train_df['Condition1'] = hp_train_df['Condition1'].replace(condition1_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['Condition1'].value_counts())

Norm     1260
Other     200
Name: Condition1, dtype: int64

## Bin Condition2

In [26]:
# Look at Condition2 value counts for binning
hp_train_df['Condition2'].value_counts()

Norm      1445
Feedr        6
Artery       2
RRNn         2
PosN         2
PosA         1
RRAn         1
RRAe         1
Name: Condition2, dtype: int64

In [27]:
# Choose a cutoff value for Condition2
cutoff_value_condition2 = 1000

# Get the counts of each Condition2 value
condition2_counts = hp_train_df['Condition2'].value_counts()

# Identify Condition2 values to be replaced
condition2_to_replace = list(condition2_counts[condition2_counts < cutoff_value_condition2].index)

# Replace in the DataFrame
for condition2_value in condition2_to_replace:
    hp_train_df['Condition2'] = hp_train_df['Condition2'].replace(condition2_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['Condition2'].value_counts())

Norm     1445
Other      15
Name: Condition2, dtype: int64

## Bin HouseStyle

In [28]:
# Look at HouseStyle value counts for binning
hp_train_df['HouseStyle'].value_counts()

1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64

In [29]:
# Choose a cutoff value for HouseStyle
cutoff_value_housestyle = 155

# Get the counts of each HouseStyle value
housestyle_counts = hp_train_df['HouseStyle'].value_counts()

# Identify HouseStyle values to be replaced
housestyle_to_replace = list(housestyle_counts[housestyle_counts < cutoff_value_housestyle].index)

# Replace in the DataFrame
for housestyle_value in housestyle_to_replace:
    hp_train_df['HouseStyle'] = hp_train_df['HouseStyle'].replace(housestyle_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['HouseStyle'].value_counts())

1Story    726
2Story    445
Other     289
Name: HouseStyle, dtype: int64

## Bin OverallQual

In [30]:
hp_train_df['OverallQual'].value_counts()

5     397
6     374
7     319
8     168
4     116
9      43
3      20
10     18
2       3
1       2
Name: OverallQual, dtype: int64

In [31]:
# Choose a cutoff value for OverallQual
cutoff_value_overallqual = 170  

# Get the counts of each OverallQual value
overallqual_counts = hp_train_df['OverallQual'].value_counts()

# Identify OverallQual values to be replaced
overallqual_to_replace = list(overallqual_counts[overallqual_counts < cutoff_value_overallqual].index)

# Replace in the DataFrame
for overallqual_value in overallqual_to_replace:
    hp_train_df['OverallQual'] = hp_train_df['OverallQual'].replace(overallqual_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['OverallQual'].value_counts())

5        397
6        374
Other    370
7        319
Name: OverallQual, dtype: int64

## Bin OverallCond

In [32]:
# Display the value counts for 'OverallCond'
hp_train_df['OverallCond'].value_counts()

5    821
6    252
7    205
8     72
4     57
3     25
9     22
2      5
1      1
Name: OverallCond, dtype: int64

In [33]:
# Choose a cutoff value for OverallCond
cutoff_value_overallcond = 100 

# Get the counts of each OverallCond value
overallcond_counts = hp_train_df['OverallCond'].value_counts()

# Identify OverallCond values to be replaced
overallcond_to_replace = list(overallcond_counts[overallcond_counts < cutoff_value_overallcond].index)

# Replace in the DataFrame
for overallcond_value in overallcond_to_replace:
    hp_train_df['OverallCond'] = hp_train_df['OverallCond'].replace(overallcond_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['OverallCond'].value_counts())

5        821
6        252
7        205
Other    182
Name: OverallCond, dtype: int64

## Bin YearBuilt

In [34]:
# # Display the value counts for 'YearBuilt'
# hp_train_df['YearBuilt'].value_counts()

In [35]:
# # Choose a cutoff value for YearBuilt
# cutoff_value_yearbuilt = 30  

# # Get the counts of each YearBuilt value
# yearbuilt_counts = hp_train_df['YearBuilt'].value_counts()

# # Identify YearBuilt values to be replaced
# yearbuilt_to_replace = list(yearbuilt_counts[yearbuilt_counts < cutoff_value_yearbuilt].index)

# # Replace in the DataFrame
# for yearbuilt_value in yearbuilt_to_replace:
#     hp_train_df['YearBuilt'] = hp_train_df['YearBuilt'].replace(yearbuilt_value, 'Other')

# # Check to make sure binning was successful
# print(hp_train_df['YearBuilt'].value_counts())

## Bin YearRemodAdd

In [36]:
# # Display the value counts for 'YearRemodAdd'
# hp_train_df['YearRemodAdd'].value_counts()

In [37]:
# # Choose a cutoff value for YearRemodAdd
# cutoff_value_yearremodadd = 20  

# # Get the counts of each YearRemodAdd value
# yearremodadd_counts = hp_train_df['YearRemodAdd'].value_counts()

# # Identify YearRemodAdd values to be replaced
# yearremodadd_to_replace = list(yearremodadd_counts[yearremodadd_counts < cutoff_value_yearremodadd].index)

# # Replace in the DataFrame
# for yearremodadd_value in yearremodadd_to_replace:
#     hp_train_df['YearRemodAdd'] = hp_train_df['YearRemodAdd'].replace(yearremodadd_value, 'Other')

# # Check to make sure binning was successful
# print(hp_train_df['YearRemodAdd'].value_counts())

## Bin RoofStyle

In [38]:
# Display the value counts for 'RoofStyle'
hp_train_df['RoofStyle'].value_counts()

Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: RoofStyle, dtype: int64

In [39]:
# Choose a cutoff value for RoofStyle
cutoff_value_roofstyle = 15 

# Get the counts of each RoofStyle value
roofstyle_counts = hp_train_df['RoofStyle'].value_counts()

# Identify RoofStyle values to be replaced
roofstyle_to_replace = list(roofstyle_counts[roofstyle_counts < cutoff_value_roofstyle].index)

# Replace in the DataFrame
for roofstyle_value in roofstyle_to_replace:
    hp_train_df['RoofStyle'] = hp_train_df['RoofStyle'].replace(roofstyle_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['RoofStyle'].value_counts())

Gable    1141
Hip       286
Other      33
Name: RoofStyle, dtype: int64

## Bin RoofMatl

In [40]:
# Display the value counts for 'RoofMatl'
hp_train_df['RoofMatl'].value_counts()

CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Metal         1
Membran       1
Roll          1
ClyTile       1
Name: RoofMatl, dtype: int64

In [41]:
# Choose a cutoff value for RoofMatl
cutoff_value_roofmatl = 12

# Get the counts of each RoofMatl value
roofmatl_counts = hp_train_df['RoofMatl'].value_counts()

# Identify RoofMatl values to be replaced
roofmatl_to_replace = list(roofmatl_counts[roofmatl_counts < cutoff_value_roofmatl].index)

# Replace in the DataFrame
for roofmatl_value in roofmatl_to_replace:
    hp_train_df['RoofMatl'] = hp_train_df['RoofMatl'].replace(roofmatl_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['RoofMatl'].value_counts())

CompShg    1434
Other        26
Name: RoofMatl, dtype: int64

## Bin Exterior1st

In [42]:
# Display the value counts for 'Exterior1st'
hp_train_df['Exterior1st'].value_counts()

VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
AsphShn      1
ImStucc      1
CBlock       1
Name: Exterior1st, dtype: int64

In [43]:
# Choose a cutoff value for Exterior1st
cutoff_value_exterior1st = 200

# Get the counts of each Exterior1st value
exterior1st_counts = hp_train_df['Exterior1st'].value_counts()

# Identify Exterior1st values to be replaced
exterior1st_to_replace = list(exterior1st_counts[exterior1st_counts < cutoff_value_exterior1st].index)

# Replace in the DataFrame
for exterior1st_value in exterior1st_to_replace:
    hp_train_df['Exterior1st'] = hp_train_df['Exterior1st'].replace(exterior1st_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['Exterior1st'].value_counts())

VinylSd    515
Other      297
HdBoard    222
MetalSd    220
Wd Sdng    206
Name: Exterior1st, dtype: int64

## Bin Exterior2nd

In [44]:
# Display the value counts for 'Exterior2nd'
hp_train_df['Exterior2nd'].value_counts()

VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
Other        1
CBlock       1
Name: Exterior2nd, dtype: int64

In [45]:
# Choose a cutoff value for Exterior2nd
cutoff_value_exterior2nd = 200  

# Get the counts of each Exterior2nd value
exterior2nd_counts = hp_train_df['Exterior2nd'].value_counts()

# Identify Exterior2nd values to be replaced
exterior2nd_to_replace = list(exterior2nd_counts[exterior2nd_counts < cutoff_value_exterior2nd].index)

# Replace in the DataFrame
for exterior2nd_value in exterior2nd_to_replace:
    hp_train_df['Exterior2nd'] = hp_train_df['Exterior2nd'].replace(exterior2nd_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['Exterior2nd'].value_counts())

Other      535
VinylSd    504
MetalSd    214
HdBoard    207
Name: Exterior2nd, dtype: int64

## Bin MasVnrArea

In [46]:
# Display the value counts for 'MasVnrArea'
hp_train_df['MasVnrArea'].value_counts()

0.0      869
180.0      8
72.0       8
108.0      8
120.0      7
        ...
562.0      1
89.0       1
921.0      1
762.0      1
119.0      1
Name: MasVnrArea, Length: 327, dtype: int64

In [47]:
# Choose a cutoff value for MasVnrArea
cutoff_value_masvnrarea = 10 

# Get the counts of each MasVnrArea value
masvnrarea_counts = hp_train_df['MasVnrArea'].value_counts()

# Identify MasVnrArea values to be replaced
masvnrarea_to_replace = list(masvnrarea_counts[masvnrarea_counts < cutoff_value_masvnrarea].index)

# Replace in the DataFrame
for masvnrarea_value in masvnrarea_to_replace:
    hp_train_df['MasVnrArea'] = hp_train_df['MasVnrArea'].replace(masvnrarea_value, 'Other')

# Check to make sure binning was successful
print(hp_train_df['MasVnrArea'].value_counts())

0.0      869
Other    591
Name: MasVnrArea, dtype: int64

## Data Preprocessing for Test Data

In [48]:
# Display basic information about the testing dataset
print("Training Dataset Info:")
print(hp_test_df.info())

Training Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB
None

In [49]:
# Display columns with missing values and their counts
missing_values = hp_test_df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("Columns with Missing Values:")
print(missing_columns)

Columns with Missing Values:
MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
FireplaceQu      730
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
GarageArea         1
GarageQual        78
GarageCond        78
PoolQC          1456
Fence           1169
MiscFeature     1408
SaleType           1
dtype: int64

## Handle Null Values for hp_test_df

In [50]:
# Handle missing values
# Dropping columns with a high percentage of missing values  >1000
## Only 'FireplaceQu' have 690
columns = ['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature']
hp_test_df.drop(columns=columns, inplace=True)

In [51]:
# Reveiw the columns after dropping 5 columns wiht high percentages of missing value
missing_values = hp_test_df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("Columns with Missing Values:")
print(missing_columns)

Columns with Missing Values:
MSZoning          4
LotFrontage     227
Utilities         2
Exterior1st       1
Exterior2nd       1
MasVnrType       16
MasVnrArea       15
BsmtQual         44
BsmtCond         45
BsmtExposure     44
BsmtFinType1     42
BsmtFinSF1        1
BsmtFinType2     42
BsmtFinSF2        1
BsmtUnfSF         1
TotalBsmtSF       1
BsmtFullBath      2
BsmtHalfBath      2
KitchenQual       1
Functional        2
GarageType       76
GarageYrBlt      78
GarageFinish     78
GarageCars        1
GarageArea        1
GarageQual       78
GarageCond       78
SaleType          1
dtype: int64

## Impute Missing Values hp_test_df

In [52]:
# # Impute missing values in numerical columns with the mean
# hp_test_df.fillna(hp_test_df.mean(), inplace=True)

# # Impute missing values in categorical columns with the mode
# hp_test_df.fillna(hp_test_df.mode().iloc[0], inplace=True)

In [53]:
# Convert 'LotFrontage' to int
# hp_test_df['LotFrontage'] = hp_test_df['LotFrontage'].astype(int)

## Review hp_test_df for missing values

In [54]:
# Reveiw the columns after:
# dropping columns wiht high percentages of missing value
# Fill null values with imputation strategy

missing_values = hp_test_df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("Columns with Missing Values:")
print(missing_columns)

Columns with Missing Values:
MSZoning          4
LotFrontage     227
Utilities         2
Exterior1st       1
Exterior2nd       1
MasVnrType       16
MasVnrArea       15
BsmtQual         44
BsmtCond         45
BsmtExposure     44
BsmtFinType1     42
BsmtFinSF1        1
BsmtFinType2     42
BsmtFinSF2        1
BsmtUnfSF         1
TotalBsmtSF       1
BsmtFullBath      2
BsmtHalfBath      2
KitchenQual       1
Functional        2
GarageType       76
GarageYrBlt      78
GarageFinish     78
GarageCars        1
GarageArea        1
GarageQual       78
GarageCond       78
SaleType          1
dtype: int64

## Check duplicates for hp_test_df

In [55]:
# Check the number of unique values in each column
hp_test_df.nunique()

Id               1459
MSSubClass         16
MSZoning            5
LotFrontage       115
LotArea          1106
                 ...
MiscVal            26
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
Length: 75, dtype: int64

In [56]:
# Check for duplicated values in the 'Id' column
subset_columns = ['Id']
duplicate_rows_subset = hp_test_df[hp_test_df.duplicated(subset=subset_columns)]
if duplicate_rows_subset.empty:
    print("No duplicate rows based on 'Id' column.")
else:
    print("Duplicate rows based on 'Id' column:")
    print(duplicate_rows_subset)

No duplicate rows based on 'Id' column.

## Convert necessary columns to appropriate data types

In [57]:
# Convert necessary columns to appropriate data types
hp_test_df['MSSubClass'] = hp_test_df['MSSubClass'].astype('category')
hp_test_df['MSZoning'] = hp_test_df['MSZoning'].astype('category')
hp_test_df['Street'] = hp_test_df['Street'].astype('category')
hp_test_df['LotShape'] = hp_test_df['LotShape'].astype('category')
hp_test_df['LandContour'] = hp_test_df['LandContour'].astype('category')

# Review the train & test cleaned dataframes

In [58]:
# Display the resulting DataFrame
hp_train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,3,60,RL,Other,11250,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,5,60,RL,Other,14260,Pave,None,IR1,Lvl,AllPub,...,0,None,None,None,0,12,2008,WD,Normal,250000

In [59]:
# Display the resulting DataFrame
hp_test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,82,0,0,144,0,0,1,2010,WD,Normal

# Export the cleaned data to CSV

In [60]:
hp_train_df.to_json('../1_Initial_Preprocessed_Data/initial_preprocessed_hp_train.json', orient='records', lines=True)
hp_train_df.to_csv('../1_Initial_Preprocessed_Data/initial_preprocessed_hp_train.csv', index=False)

In [61]:
hp_test_df.to_json('../1_Initial_Preprocessed_Data/initial_preprocessed_hp_test.json', orient='records', lines=True)
hp_test_df.to_csv('../1_Initial_Preprocessed_Data/initial_preprocessed_hp_test.csv', index=False)